.chat-side
  .side-header
    .side-header__items
      %p.side-header__items__user-name
        = current_user.name
      %ul.side-header__items__icons
        %li
          = link_to new_group_path(current_user), class: "side-header__items__icons--btn" do
            %i.far.fa-edit
        %li
          = link_to edit_user_path(current_user), class: "side-header__items__icons--btn" do
            %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__last-message
            = group.show_last_message
